airsqreen-clients/system9-client/src/main/resources/wsdl/S9_WExSrvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.sistemdokuzmedya.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.sistemdokuzmedya.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sistem Dokuz Medya A.Ş.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sistemdokuzmedya.com/">
      <s:element name="Win_Action_Template">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName_" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action_ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Device_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Win_Action_TemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Win_Action_TemplateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Win_Action_Release">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName_" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Action_ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Device_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Win_Action_ReleaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Win_Action_ReleaseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Win_Action_TemplateSoapIn">
    <wsdl:part name="parameters" element="tns:Win_Action_Template" />
  </wsdl:message>
  <wsdl:message name="Win_Action_TemplateSoapOut">
    <wsdl:part name="parameters" element="tns:Win_Action_TemplateResponse" />
  </wsdl:message>
  <wsdl:message name="Win_Action_ReleaseSoapIn">
    <wsdl:part name="parameters" element="tns:Win_Action_Release" />
  </wsdl:message>
  <wsdl:message name="Win_Action_ReleaseSoapOut">
    <wsdl:part name="parameters" element="tns:Win_Action_ReleaseResponse" />
  </wsdl:message>
  <wsdl:portType name="S9_WExSrvcSoap">
    <wsdl:operation name="Win_Action_Template">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Action_Template</wsdl:documentation>
      <wsdl:input message="tns:Win_Action_TemplateSoapIn" />
      <wsdl:output message="tns:Win_Action_TemplateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Win_Action_Release">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Action_Template</wsdl:documentation>
      <wsdl:input message="tns:Win_Action_ReleaseSoapIn" />
      <wsdl:output message="tns:Win_Action_ReleaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="S9_WExSrvcSoap" type="tns:S9_WExSrvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Win_Action_Template">
      <soap:operation soapAction="http://www.sistemdokuzmedya.com/Win_Action_Template" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Win_Action_Release">
      <soap:operation soapAction="http://www.sistemdokuzmedya.com/Win_Action_Release" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="S9_WExSrvcSoap12" type="tns:S9_WExSrvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Win_Action_Template">
      <soap12:operation soapAction="http://www.sistemdokuzmedya.com/Win_Action_Template" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Win_Action_Release">
      <soap12:operation soapAction="http://www.sistemdokuzmedya.com/Win_Action_Release" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="S9_WExSrvc">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sistem Dokuz Medya A.Ş.</wsdl:documentation>
    <wsdl:port name="S9_WExSrvcSoap" binding="tns:S9_WExSrvcSoap">
      <soap:address location="http://s9v.lookscreens.com:78/S9_WExSrvc.asmx" />
    </wsdl:port>
    <wsdl:port name="S9_WExSrvcSoap12" binding="tns:S9_WExSrvcSoap12">
      <soap12:address location="http://s9v.lookscreens.com:78/S9_WExSrvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>